@import url('./style.css');


/* #################### 
    JOB FORM STYLE
#################### */

.jobform {
    margin: 1em auto;
    border-radius: 10px;
    width: 90%;
}

.jobform h1 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    color: white;
}

.jobform .form-section {
    margin-bottom: 50px;
    background: var(--bs-card-opacity);
    padding: 20px 25px 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border: 1px solid var(--bs-card-border);
    border-radius: 5px;
}

.jobform section h2 {
    font-size: 17px;
    margin-bottom: 30px;
    color: var(--bs-text);
    border-bottom: 1px solid var(--bs-card-border);
    padding-bottom: 10px;
}

.jobform label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--bs-text);
    font-size: 14px;
}

.jobform input, .jobform textarea{
    width: 100%;
    padding: 12px 14px;
    font-size: 15px;
    color: var(--bs-text);
    border: 1.5px solid var(--bs-card-border);
    background: var(--bs-bg);
    border-radius: 6px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

.jobform input:focus, .jobform textarea:focus{
    border-color: var(--bs-primary);
    outline: none;
}

.jobform .btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 35%;
    padding: 14px;
    background: var(--bs-primary);
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.jobform .btn:hover {
    background-color: var(--bs-primary-hover);
}

/* ########################
    END JOB FORM STYLE
######################## */